<div class="row">
  <h3>Reactor core</h3>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr><td class="label-td">Rod position</td><td ng-include="'views/rodPosition.html'">
          </td></tr>
          <tr>
            <td>Thermal power</td>
            <td> <value-with-label label="game.core.getThermalPowerWarning()" unit="MW" value="game.core.getThermalPower() / 1000000"/></td>
          </tr>
          <tr>
            <td>Fuel rod temperature</td>
            <td> <value-with-label id="rodPosition" label="game.core.fuelRodTempWarning()" unit="&deg;C" value="game.core.fuelRodTemp"/></td>
          </tr>
        </tbody>
      </table>
    </div> 
</div>

<div class="row">
</div>
