<div class="row">
  <h3>Home</h3>
  <div class="table">
    <table class="table">
      <tbody>
        <tr><td class="label-td">Rod position</td><td>
          <div class="input-group">
            <input class="form-control" type="number" value="{{ game.core.rodPosition }}" readonly/>
            <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="game.core.removeRod()"><span class="glyphicon glyphicon-arrow-up">Full Up</span></button>
            <button type="button" class="btn btn-default" ng-click="game.core.moveRodUp()"><span class="glyphicon glyphicon-arrow-up">Up</span></button>
            <button type="button" class="btn btn-default" ng-click="game.core.moveRodDown()"><span class="glyphicon glyphicon-arrow-down">Down</span></button>
            <button type="button" class="btn btn-default" ng-click="game.core.insertRod()"><span class="glyphicon glyphicon-arrow-down">Full Down</span></button>
            </div>
          </div>
        </td></tr>
        <tr>
        <td>Thermal power</td><td>{{ game.core.getThermalPower() / 1000000 | number:2}} MW </td>
        </tr>
        <tr><td class="label-td">Primary pump</td><td>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary" ng-class="{active: !game.primaryLoop.pump}" ng-click='game.primaryLoop.pump = false'>
                <input type="radio" name="options" id="option1" ng-click='game.primaryLoop.pump = false'>OFF
              </label>
              <label class="btn btn-primary" ng-class="{active: game.primaryLoop.pump}" ng-click='game.primaryLoop.pump = true'>
                <input type="radio" name="options" id="option2" ng-click='game.primaryLoop.pumpOn()'>ON
              </label>
            </div>
        </td></tr>
        <tr>
            <td>Outlet water temperature</td>
            <td>{{ game.primaryLoop.outletTemp | number:2 }} degC
            <span class='label label-{{ game.primaryLoop.outletTempWarning()[1] }}'>{{ game.primaryLoop.outletTempWarning()[0] }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
</div>
