           <div class="input-group">
             <input class="form-control" type="number" value="{{ game.core.rodPosition }}" readonly/>
             <div class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="game.core.removeRod()"><span class="glyphicon glyphicon-arrow-up">Full power</span></button>
             <button type="button" class="btn btn-default" ng-click="game.core.moveRodUp()"><span class="glyphicon glyphicon-arrow-up">Up</span></button>
             <button type="button" class="btn btn-default" ng-click="game.core.moveRodDown()"><span class="glyphicon glyphicon-arrow-down">Down</span></button>
             <button type="button" class="btn btn-default" ng-click="game.core.insertRod()"><span class="glyphicon glyphicon-arrow-down">Shutdown</span></button>
             </div>
           </div>
